<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
</head>
<body>
    {{> header}}
    <h1>{{ pageTitle }}</h1>

    <h2>{{ upEmAll 'aaaaaaaaaaa' }}</h2>
    <p>
        <a href="https://www.udemy.com/vuejs-build-a-full-stack-app-with-firebase-vuex-router/learn/v4/content" target="_blank">Vue.js: Build a Full Stack App With Firebase, Vuex & Router</a>
    </p>
    <p>
        <a href="https://www.udemy.com/vuejs-2-academy-learn-vue-vuex-step-by-step/learn/v4/content" target="_blank">Vue.js 2 Academy: Learn Vue Step by Step</a>
    </p>
    <p>
        <a href="https://www.udemy.com/learn-by-doing-vue-js-2-the-right-way/learn/v4/content" target="_blank">Learn by Doing: Vue JS 2.0 the Right Way</a>
    </p>
    <p>
        <a href="https://www.udemy.com/leveling-up-to-es6/learn/v4/content" target="_blank">Leveling up to ES6</a>
    </p>
    <p>
        <a href="" target="_blank"></a>
    </p>
    <p>
        <a href="" target="_blank"></a>
    </p>
    <p>
        <a href="" target="_blank"></a>
    </p>
    <p>
        <a href="" target="_blank"></a>
    </p>
    <p>
        <a href="" target="_blank"></a>
    </p>

    {{> footer}}
</body>
</html>