<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
</head>
<body>
    {{> header}}

    <h1>We will be right back</h1>
    <p>site is in maintenance stage right now</p>
    {{> footer}}
</body>
</html>